

<% switch(details.en_name) {
  case 'animals' : %>
  <div class="form-floating mb-3">
    <input type="text" name="name" id="Nom" class="form-control" placeholder="name">
    <label for="name" class="form-label">Nom</label>    
  </div>
  <div class="form-floating mb-3">
    <input type="text" name="species" id="Race" class="form-control" placeholder="race">
    <label for="species" class="form-label">Race</label>    
  </div>
  <div class="form-floating mb-3">
    <select class="form-select" name="habitat_id" id="Habitat" aria-label="Default select example">
      <option selected>Choisissez une option</option>
      <% details.table.forEach(function(habitat){ %>      
      <option value="<%= habitat.Id %>"><%= habitat.Nom %></option>
      <% })%>
    </select>
    <label for="habitat_id">Habitat</label>
  </div>
  <div class="form-floating mb-3">
    <input id="image_path" id="Image" class="form-control form-control-sm"  type="file">
    <label for="image_path" class="form-label">Image</label>    
  </div>  
  <% break;
  case 'habitats' : %>
  <div class="form-floating mb-3">
    <input type="text" name="name" id="Nom" class="form-control" placeholder="Nom">
    <label for="name" class="form-label">Nom</label>    
  </div>
  <div class="form-floating mb-3">    
    <textarea type="text" name="description" id="Description" class="form-control" rows="3" placeholder="Description"></textarea>
    <label for="description" class="form-label">Description</label>
  </div>
  <div class="form-floating mb-3">    
    <input name="image_path" id="Image" class="form-control form-control-sm" type="file">
    <label for="image_path" class="form-label">Image</label>
  </div>
  <% break;
  case 'services' : %>
  <div class="form-floating mb-3">    
    <input type="text" name="name" id="Nom" class="form-control" placeholder="Nom" required>
    <label for="name" class="form-label">Nom</label>
  </div>
  <div class="form-floating mb-3">    
    <textarea type="text" name="description" id="Description" class="form-control" rows="3" placeholder="Description" required></textarea>
    <label for="description" class="form-label">Description</label>
  </div>
  <div class="form-floating mb-3">    
    <input type="time" name="schedule" id="Horaire" class="form-control" placeholder="00:00" required>
    <label for="schedule" class="form-label">Horaire</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" name="duration" id="Duration" class="form-control" placeholder="30">
    <label for="duration" class="form-label">Duration (minutes) </label>
  </div>
  <div class="form-floating mb-3">    
    <input name="image_path" id="Image" class="form-control form-control-sm" type="file">
    <label for="image_path" class="form-label">Image</label>
  </div>
  <% break;
  case 'reports' : %>
  <div class="form-floating mb-3">    
    <input type="date" name="date" id="Date" class="form-control" placeholder="Date" required>
    <label for="date" class="form-label">Date</label>
  </div>
  <% if(details.rol=="veterinary"){%>
  <div class="form-floating mb-3">    
    <input type="number" name="status" id="État" class="form-control" placeholder="État" required></input>
    <label for="status" class="form-label">État</label>
  </div>
  <% }; %>
  <div class="form-floating mb-3">    
    <input type="text" name="food" id="Nourriture" class="form-control" placeholder="Nourriture" required>
    <label for="food" class="form-label">Nourriture</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" name="quantity" id="Quantité" class="form-control" placeholder="Quantité">
    <label for="quantity" class="form-label">Quantité (grammes) </label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" name="created_by" id="Utilisateur" value="<%= details.username %>"class="form-control" placeholder="Utilisateur" readonly>
  </div>
  <div class="form-floating mb-3">
    <select class="form-select" name="animal_id" id="Animal" aria-label="Default select example">
      <option selected>Choisissez une option</option>
      <% details.table.forEach(function(animal){ %>      
      <option value="<%= animal.Id %>"><%= animal.Nom %></option>
      <% })%>
    </select>
  </div>
  <% break;
  case 'users' : %>
  <div class="form-floating mb-3">    
    <input type="text" name="name" id="Prenom" class="form-control" placeholder="Prenom" required>
    <label for="name" class="form-label">Prenom</label>
  </div>
  <div class="form-floating mb-3">    
    <input name="lastname" id="Nom" type="text" class="form-control value-form" placeholder="Nom" required>
    <label for="lastname" class="form-label">Nom</label>
  </div>
  <div class="form-floating mb-3">
    <input name="username" id="Username" type="text" class="form-control value-form " placeholder="name@example.com" required>
    <label for="username" class="form-label">Email</label>      
  </div>  
  <div class="form-floating mb-3">
    <input id="Password" name="password" type="password" autocomplete="new-password" name="password" class="form-control value-form" placeholder="password" required>
    <label for="password" class="form-label">Mot de passe</label>    
  </div>
  <div class="form-floating mb-3">
    <select name="rol_id" id="Role_id" class="form-select" required>
      <option selected >Choisissez une option</option>
      <% details.table.forEach(function(rol){ %>      
      <option value="<%= rol.rol_id %>"><%= rol.rol_name %></option>
      <% })%>
    </select>
    <label for="role">Role</label>
  </div>
  <% break;
}%>

            