<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <main>
      <div class="d-flex flex-column justify-content-center text-center banner">
        <h1 id="name_page">Arcadia</h1>
        <h2>Découvrez la magie de la vie sauvage</h2>
      </div>
      <div class="introduction-container flux">
        <p>Plongez dans un monde merveilleux où la nature prend vie. Au Zoo d'Arcadia, nous avons recréé des habitats naturels fascinants pour abriter une incroyable diversité d'animaux. Explorez, apprenez et émerveillez-vous devant la beauté de la faune mondiale.</p>
      </div>
      <div class="d-inline-flex flex-column habitats-container-index">        
        <div class="d-flex flex-column text-center banner-habitats-container-index pt-5">
          <h2>Découvrez Nos Habitats</h2>      
        </div>
        <div class="d-flex gap-4 flex-column py-5 flux">
          <p>Nos habitats soigneusement conçus vous permettent d'explorer les écosystèmes les plus emblématiques du monde. Chaque habitat offre une expérience immersive unique, vous rapprochant des animaux et de leur environnement naturel.</p>        
          <%- include('../partials/carrousel', { objets: habitats, name: "habitats" }); %>   
          <a href= "/habitats" class="btn btn-arcadia-p" >Voir plus</a>        
        </div>        
      </div>
      <div class="d-flex flex-column p-5 gap-4 services-container-index flux ">  
        <h2>Profitez de Nos Services</h2>
        <p>Nous proposons une gamme de services et d'expériences pour enrichir votre visite. Découvrez tout ce que le Zoo d'Arcadia a à offrir pour rendre votre journée inoubliable.</p>
        <%- include('../partials/carrousel', { objets: services, name: "services" }); %> 
        <a href= "/services" class="btn btn-arcadia-p" >Voir plus</a>
      </div>
      
      <div class="d-flex flex-column pt-5 text-center reviews-container-index">  
        <h2>Opinions de Nos Visiteurs</h2>
        <div class="list-reviews-container-index p-5 flux">
          <div class="d-flex flex-column gap-4 scroll-container">
            <%reviews.forEach(function(review){ %>
              <%- include('../partials/card-reviews', { review }); %>
            <%}); %>
          </div>
        </div>
        <div class="d-flex flex-column gap-3 form_review_container-index p-5 flux">
          <p>Votre expérience au Zoo d'Arcadia est précieuse pour nous. Nous vous invitons à partager vos impressions et vos suggestions pour nous aider à continuer à améliorer nos services et nos installations.</p>
          <button type="button" class="btn btn-arcadia-s" data-bs-toggle="modal" data-bs-target="#reviews-b">Commenter</button>
          <%- include('../partials/forms/modal-reviews'); %>
        </div>
      </div>
      

      </div>      
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/script.js" crossorigin="anonymous"> </script>
  </body>
</html>